In this project, I will clean the data set with 1300 laptop models inforamtion. Below is a preview of the first two rows of the dataset. 

Manufacturer|Model Name	|Category|Screen Size|Screen|CPU|RAM|Storage|GPU|Operating System|Operating System Version|Weight|Price (Euros)
---|---|---|---|---|---|---|---|---|---|---|---|---
Apple|MacBook Pro|Ultrabook|13.3"|IPS Panel Retina Display|2560x1600 Intel Core i5 2.3GHz|8GB|128GB SSD|Intel Iris Plus Graphics 640|macOS|	|1.37kg|1339,69

__Tasks:__
-  Clean columns names.
-  Extract and convert numeric values from string values.
-  Extract string data.
-  Work with missing values.



__Key knowledge:__

df.info()
Series.describe()

df.columns
string.strip()
string.replace(old,new)
string.lower()
Series.str.replace()     # need assignment
DF/Seiries.replace()     # to replace items, or use regex to work as str.replace

Series.unique()          # get unique values: from a list: list(set(list)); from an array: 
Series.value_counts()    # unique values & counts, not include null values
Series.nunique()         # just the number of unique values
Series.count()           # The number of non-null values
Series.size()            # the number of all values including null.
pd.DataFrame.agg(['count', 'size', 'nunique']).stack()

numpy.unqiue(array)  
Series.astype(dtype)     # need assignment
DataFrame.rename({old:new}, axis =1, inplace = True)   # need assignment
Series.str.contains()
Series.str.split()       # split on space from front
Series.str.rsplit()      # split on space from the end
Series.value_counts()
Series.isnull()
Series.map(dict)         # to replace values in the Series. 
                         #The dict needs to have each unique value from the Series.    
DataFrame.dropna()
df.to_csv('filename.csv', index=False)
laptops = laptops[cols]   # manually change the order of the columns
s.where(s > 1, 10)
pandas.DataFrame.mask

***
__From the results below, we can see:__
1. All the columns have type 'object' they are strings, not numbers
2. There are 170 entries in 'Operating System Version' are null
3. The column labels have a variety of upper and lowercase letters, as well as spaces and parentheses.<br>

In [1]:
import pandas as pd
laptops = pd.read_csv('laptops.csv', encoding = 'Windows-1251')  # tried 'UTF-8' and 'Latin-1' all errors
laptops.info()
laptops.isnull().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1303 entries, 0 to 1302
Data columns (total 13 columns):
Manufacturer                1303 non-null object
Model Name                  1303 non-null object
Category                    1303 non-null object
Screen Size                 1303 non-null object
Screen                      1303 non-null object
CPU                         1303 non-null object
RAM                         1303 non-null object
 Storage                    1303 non-null object
GPU                         1303 non-null object
Operating System            1303 non-null object
Operating System Version    1133 non-null object
Weight                      1303 non-null object
Price (Euros)               1303 non-null object
dtypes: object(13)
memory usage: 132.4+ KB

Manufacturer                  0
Model Name                    0
Category                      0
Screen Size                   0
Screen                        0
CPU                           0
RAM                           0
 Storage                      0
GPU                           0
Operating System              0
Operating System Version    170
Weight                        0
Price (Euros)                 0
dtype: int64

***
__Clean the column labels:__
    1. Remove any whitespace from the start and end of the labels
    2. Replace sapces with underscores and remove special characters
    3. Make all labels lowercase
    4. Shorten any long column names

In [2]:
print(laptops.columns)

Index(['Manufacturer', 'Model Name', 'Category', 'Screen Size', 'Screen',
       'CPU', 'RAM', ' Storage', 'GPU', 'Operating System',
       'Operating System Version', 'Weight', 'Price (Euros)'],
      dtype='object')

In [2]:
def clean_col(col_label):
    col_label = col_label.strip()            # Removes any whitespace from the start and end of the string
    col_label = col_label.replace('Operating System','os')      # Replaces the substring Operating System with the abbreviation os
    col_label = col_label.replace(' ', '_')  # Replaces all spaces with underscores.
    col_label = col_label.replace('(','')    # Removes parentheses from the string.
    col_label = col_label.replace(')','')
    col_label = col_label.lower()            # Makes the entire string lowercase.
    return col_label

laptops.columns = [clean_col(i) for i in laptops.columns]
print(laptops.columns)

Index(['manufacturer', 'model_name', 'category', 'screen_size', 'screen',
       'cpu', 'ram', 'storage', 'gpu', 'os', 'os_version', 'weight',
       'price_euros'],
      dtype='object')

***
__Data Cleaning Workflow__
1.  Explore the data in the column : Series.unique()
2.  Identify patterns and special cases : convert data to float/integer
3.  Remove the non-digit characters : Seires.str.replace()
4.  Convert (or cast) the column to a numeric dtype : Series.astype()
5.  Rename the column (optional) : DataFrame.rename()

    __The 'ram' column__

In [4]:
# explore the data in the column
print(laptops['ram'].unique())

# Identify patterns and special cases
# From the results below, we can see that all values are integers followed by 'GB' string. 
# There are no special cases here

['8GB' '16GB' '4GB' '2GB' '12GB' '6GB' '32GB' '24GB' '64GB']

In [5]:
# Remove the non-digit characters
laptops['ram'] = laptops['ram'].str.replace('GB','')
# Convert (or cast) the column to a numeric dtype
laptops['ram'] = laptops['ram'].astype(int)
# Rename the column
laptops.rename({'ram':'ram_gb'}, axis =1, inplace=True)
dtypes = laptops.dtypes

__The 'weight' column__

In [6]:
print(laptops["weight"].unique())

['1.37kg' '1.34kg' '1.86kg' '1.83kg' '2.1kg' '2.04kg' '1.3kg' '1.6kg'
 '2.2kg' '0.92kg' '1.22kg' '0.98kg' '2.5kg' '1.62kg' '1.91kg' '2.3kg'
 '1.35kg' '1.88kg' '1.89kg' '1.65kg' '2.71kg' '1.2kg' '1.44kg' '2.8kg'
 '2kg' '2.65kg' '2.77kg' '3.2kg' '0.69kg' '1.49kg' '2.4kg' '2.13kg'
 '2.43kg' '1.7kg' '1.4kg' '1.8kg' '1.9kg' '3kg' '1.252kg' '2.7kg' '2.02kg'
 '1.63kg' '1.96kg' '1.21kg' '2.45kg' '1.25kg' '1.5kg' '2.62kg' '1.38kg'
 '1.58kg' '1.85kg' '1.23kg' '1.26kg' '2.16kg' '2.36kg' '2.05kg' '1.32kg'
 '1.75kg' '0.97kg' '2.9kg' '2.56kg' '1.48kg' '1.74kg' '1.1kg' '1.56kg'
 '2.03kg' '1.05kg' '4.4kg' '1.90kg' '1.29kg' '2.0kg' '1.95kg' '2.06kg'
 '1.12kg' '1.42kg' '3.49kg' '3.35kg' '2.23kg' '4.42kg' '2.69kg' '2.37kg'
 '4.7kg' '3.6kg' '2.08kg' '4.3kg' '1.68kg' '1.41kg' '4.14kg' '2.18kg'
 '2.24kg' '2.67kg' '2.14kg' '1.36kg' '2.25kg' '2.15kg' '2.19kg' '2.54kg'
 '3.42kg' '1.28kg' '2.33kg' '1.45kg' '2.79kg' '1.84kg' '2.6kg' '2.26kg'
 '3.25kg' '1.59kg' '1.13kg' '1.78kg' '1.10kg' '1.15kg' '1.27kg' '1.43kg'
 '2.31kg' '1.16kg' '1.64kg' '2.17kg' '1.47kg' '3.78kg' '1.79kg' '0.91kg'
 '1.99kg' '4.33kg' '1.93kg' '1.87kg' '2.63kg' '3.4kg' '3.14kg' '1.94kg'
 '1.24kg' '4.6kg' '4.5kg' '2.73kg' '1.39kg' '2.29kg' '2.59kg' '2.94kg'
 '1.14kg' '3.8kg' '3.31kg' '1.09kg' '3.21kg' '1.19kg' '1.98kg' '1.17kg'
 '4.36kg' '1.71kg' '2.32kg' '4.2kg' '1.55kg' '0.81kg' '1.18kg' '2.72kg'
 '1.31kg' '0.920kg' '3.74kg' '1.76kg' '1.54kg' '2.83kg' '2.07kg' '2.38kg'
 '3.58kg' '1.08kg' '2.20kg' '2.75kg' '1.70kg' '2.99kg' '1.11kg' '2.09kg'
 '4kgs' '3.0kg' '0.99kg' '3.52kg' '2.591kg' '2.21kg' '3.3kg' '2.191kg'
 '2.34kg' '4.0kg']

In [7]:
# ran  laptops["weight"] = laptops["weight"].str.replace('kg','').astype(float)
# ValueError: could not convert string to float: '4s'

print(laptops.loc[laptops["weight"].str.contains('s'), "weight"])

1061    4kgs
Name: weight, dtype: object

In [8]:
laptops["weight"] = laptops["weight"].str.replace("kgs","").str.replace("kg","").astype(float)
laptops.rename({'weight':'weight_kg'}, axis=1, inplace = True)
weight_describe = laptops['weight_kg'].describe()
print(weight_describe)

count    1303.000000
mean        2.038734
std         0.665475
min         0.690000
25%         1.500000
50%         2.040000
75%         2.300000
max         4.700000
Name: weight_kg, dtype: float64

__The 'price_euros' column__

In [9]:
print(laptops["price_euros"].unique()[:5])
print(laptops["price_euros"].unique()[-5:])

['1339,69' '898,94' '575,00' '2537,45' '1803,60']
['549,99' '805,99' '720,32' '638,00' '764,00']

In [10]:
laptops["price_euros"] = laptops["price_euros"].str.replace(',','.').astype(float)
price_describe = laptops["price_euros"].describe()
print(price_describe)

count    1303.000000
mean     1123.686992
std       699.009043
min       174.000000
25%       599.000000
50%       977.000000
75%      1487.880000
max      6099.000000
Name: price_euros, dtype: float64

__The 'cpu' column (same method for 'gpu' column)__<br> extract brand names and speed number

In [20]:
print(laptops['cpu'].head())
# every item is consisted of a brand name, model type, and the GHz value.
# We want to extract the brand names to see how many laptops cpus are in each brand

0          Intel Core i5 2.3GHz
1          Intel Core i5 1.8GHz
2    Intel Core i5 7200U 2.5GHz
3          Intel Core i7 2.7GHz
4          Intel Core i5 3.1GHz
Name: cpu, dtype: object

In [17]:
# How many laptops are there in each unique cpu brand?

laptops['cpu_manufacturer'] = (laptops['cpu']
                               .str.split(n=1,expand=True)
                               .iloc[:,0])  

laptops['cpu_manufacturer'].value_counts()
# split the string of each row only on the first whitespace, into a Seires of list
# expand the result into a DataFrame
# extract the first column

Intel      1240
AMD          62
Samsung       1
Name: cpu_manufacturer, dtype: int64

In [24]:
# How many didfferent cpu speed do we have?

laptops['cpu_speed'] = laptops['cpu'].str.rsplit(n=1,expand=True).iloc[:,1]
laptops['cpu_speed'] = laptops['cpu_speed'].str.replace('GHz','').astype(float)
laptops['cpu_speed'].value_counts(ascending = False)

2.50    293
2.70    166
2.80    165
1.60    134
2.00     86
2.30     86
1.80     78
2.60     76
1.10     53
2.40     52
2.90     21
3.00     19
1.20     15
1.44     12
2.20     11
1.50     10
1.30      6
3.60      5
0.90      4
2.10      3
3.10      3
1.90      2
1.92      1
1.00      1
3.20      1
Name: cpu_speed, dtype: int64

__The 'screen' column__<br>
extract screen sizes

In [26]:
print(laptops['screen'].head(10))

0    IPS Panel Retina Display 2560x1600
1                              1440x900
2                     Full HD 1920x1080
3    IPS Panel Retina Display 2880x1800
4    IPS Panel Retina Display 2560x1600
5                              1366x768
6    IPS Panel Retina Display 2880x1800
7                              1440x900
8                     Full HD 1920x1080
9           IPS Panel Full HD 1920x1080
Name: screen, dtype: object

In [31]:
screen_res = laptops['screen'].str.rsplit(n=1, expand = True)
print(screen_res.iloc[:10])

                          0          1
0  IPS Panel Retina Display  2560x1600
1                  1440x900       None
2                   Full HD  1920x1080
3  IPS Panel Retina Display  2880x1800
4  IPS Panel Retina Display  2560x1600
5                  1366x768       None
6  IPS Panel Retina Display  2880x1800
7                  1440x900       None
8                   Full HD  1920x1080
9         IPS Panel Full HD  1920x1080

In [33]:
screen_res.columns = ['A','B']
screen_res.loc[screen_res['B'].isnull(), 'B'] =  screen_res.loc[screen_res['B'].isnull(), 'A'] 
print(screen_res.iloc[:10])

laptops['screen_res'] = screen_res['B']

                          A          B
0  IPS Panel Retina Display  2560x1600
1                  1440x900   1440x900
2                   Full HD  1920x1080
3  IPS Panel Retina Display  2880x1800
4  IPS Panel Retina Display  2560x1600
5                  1366x768   1366x768
6  IPS Panel Retina Display  2880x1800
7                  1440x900   1440x900
8                   Full HD  1920x1080
9         IPS Panel Full HD  1920x1080

__The 'os' column__<br> inconsistent values

In [34]:
print(laptops['os'].unique())

['macOS' 'No OS' 'Windows' 'Mac OS' 'Linux' 'Android' 'Chrome OS']

In [39]:
laptops['os'] = laptops['os'].replace('Mac OS', 'macOS')   # replace certain values in a Series

In [38]:
print(laptops['os'].unique())

['macOS' 'No OS' 'Windows' 'Linux' 'Android' 'Chrome OS']

Solution using Seires.map()

mapping_dict = {
    'Android': 'Android',
    'Chrome OS': 'Chrome OS',
    'Linux': 'Linux',
    'Mac OS': 'macOS',
    'No OS': 'No OS',
    'Windows': 'Windows',
    'macOS': 'macOS'
}

laptops['os'] = laptops['os'].map(mapping_dict)

__Identify Missing Values__<br>
-  DataFrame.info()<br>
    _There are two downsides to this approach - firstly the information is printed, so we can't easily work with it, and secondly looking at the number of non-null values can be harder to understand than looking at the number of null values._
-  DataFrame.isnull().sum()

__Handle Missing Values__<br>
-  Remove any rows that have missing values.
-  Remove any columns that have missing values.
-  Fill the missing values with some other value.
-  Leave the missing values as is.

    _The first two options, is often used when preparing data for machine learning, as machine learning algorithms are unable to be trained on data that includes null values. 
    The methods is the DataFrame.dropna(). Removing columns and rows is commonly known as dropping._

In [ ]:
# df.dropna() to remove rows or columns
laptops_no_null_rows = laptops.dropna()
laptops_no_null_cols = laptops.dropna(axis =1)

In [ ]:
laptops.loc[laptops["os"] == "No OS", "os_version"] = "Version Unknown"
value_counts_after = laptops.loc[laptops["os_version"].isnull(), "os"].value_counts()

__The Storage Column__

In [3]:
print(laptops.loc[76:81, 'storage'])

# From this sample, we can observe:
# Some laptops have two disks and some just have one.
# Each disk has a capacity (eg 128GB) and a type (eg SSD).
# Capacities are expressed in either gigabytes (GB) or terabytes (TB).

76                 2TB HDD
77    128GB SSD +  1TB HDD
78                 1TB HDD
79    128GB SSD +  1TB HDD
80               256GB SSD
81               512GB SSD
Name: storage, dtype: object

In [5]:
#laptops["storage"] = laptops['storage'].str.replace('GB','').str.replace('TB','000')
#laptops[["storage1","storage2"]] = laptops["storage"].str.split("+",expand=True)

laptops["storage"] = laptops["storage"].str.replace('GB','').str.replace('TB','000')
laptops[["storage1", "storage2"]] = laptops["storage"].str.split("+", expand=True)

for i in ['storage1','storage2']:
    s_capacity = i + '_capacity'
    s_type = i + '_type'
    laptops[[s_capacity,s_type]] = laptops[i].str.split(n=1, expand = True)   # n=1 is needed because there might be empty sapce after storage type.
    laptops[s_capacity] = laptops[s_capacity].astype(float)
    laptops[s_type] = laptops[s_type].str.strip()

laptops.drop(['storage','storage1','storage2'], inplace = True)

__Save the cleaned data__

In [50]:
laptops.to_csv('laptops_cleaned.csv',index=False)
laptops_cleaned = pd.read_csv('laptops_cleaned.csv')
laptops_cleaned_dtypes = laptops_cleaned.dtypes

In [15]:
x=np.nan
print(float(x))

nan